@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}


.float_box, .table_text, .inline_text {
  font-size: 16px;
  width: 225px;
}


.float_box:first-child {
  margin-left: 0;
}


.float_box {
  float:left;
  margin-left: 50px;
  box-sizing: border-box;
}


.table_box {
  display: table;
}


.table_text:first-child {
  padding-left: 0;
}


.table_text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}


.inline_box {
  letter-spacing: -0.4em;
}


.inline_text:first-child {
  margin-left: 0;
}


.inline_text {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
  letter-spacing: normal;
}


.flex_box {
  display: flex;
  justify-content:space-around;
  align-items: flex-end;
}


.flex_text {
  width: 225px;
  box-sizing: border-box;
}


.inline_margin {
  font-size: 0;
}


.left_box, .right_box {
  display: inline-block;
  font-size: 16px;
}


.left_box {
  width: 300px;
  vertical-align: top;
}


.right_box {
  width: 100%;
  padding-left: 350px;
  margin-left: -300px;
  box-sizing: border-box;
}

/* 回答はここに書いてね */
